h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(97, 76, 51);
}

main {
  color: rgb(97, 76, 51);
  max-width: 700px;
  margin: 0 auto;
}

footer {
  margin-top: 10px;
  text-align: center;
}
