h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

footer {
  margin-top: 10px;
  text-align: center;
}

main {
  max-width: 600px;
  background-color: bisque;
  margin: 0 auto;
  min-height: 400px;
  border-radius: 5px;
  box-shadow: rgb(128, 105, 76);
}
