.inputSection {
  display: inline-block;
  margin: 25px 0;
  padding: 30px;
  width: 100%;
  text-align: center;
}

section {
  border-radius: 5px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin-bottom: 25px;
  padding: 30px;
  background-color: rgb(252, 241, 228);
}
